<div class="input-group input-group-sm" >
  <input [disabled]="disabled" type="text" class="form-control form-control-sm" (focus)="onfocus()" (blur)="onBlur()" [(ngModel)]="_displaydata"  #inputbox/>
  <button [disabled]="showDiv || disabled" [ngStyle]="setMyStyles()"   class="btn btn-default btn-sm" (click)="List()" >...</button>
</div>

<div [ngClass]="{'my-class': showDiv}">
 
  <div *ngIf="showDiv">
    
   <button type="button" class="close" aria-label="Close" (click)="Cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
    
    <ul *ngFor="let item of RecList" class="list-group border border-secondary">

      <li class="list-group-item" ><a (click)="SelectedItem('LIST',item)">{{item.name}}</a></li>
      <li class="list-group-item" *ngIf="cols_total >= 1" ><a (click)="SelectedItem('LIST',item)">{{item.colList1}}</a></li>
      <li class="list-group-item" *ngIf="cols_total >= 2" ><a (click)="SelectedItem('LIST',item)">{{item.colList2}}</a></li>
      <li class="list-group-item" *ngIf="cols_total >= 3" ><a (click)="SelectedItem('LIST',item)">{{item.colList3}}</a></li>


    </ul>
    
    <ul *ngIf="bShowMore" class="list-group">
      <li class="list-group-item" ><a (click)="More()" >More...</a></li>
    </ul>

  </div>

</div>
