<div class="page-header">
  <div class="col">
    <label>{{title}}</label>
    <button [disabled]="loading" (click)="ActionHandler('LIST','')" class="btn btn-primary btn-sm mx-1">List</button>
    <button [disabled]="loading" *ngIf="menu_record.rights_add" (click)="ActionHandler('ADD','')" class="btn btn-primary btn-sm mr-1">New</button>
    <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
</div>

<div *ngIf="currentTab=='LIST'" class="page-list">

  <div class="page-search">
    <div class="row">
      <label class="col-2">Search</label>
      <div class="col">
        <input type="text" class="col form-control form-control-sm" name="Search" [(ngModel)]="searchstring" />
      </div>
      <div class="col">
        <input class ="mr-1" type="checkbox"  [(ngModel)]="showall" />
        <span>Locked Users</span>
      </div>
    </div>
    <div class="row">
      <label class="col-2">Role</label>
      <div class="col">
        <select class="form-control form-control-sm" [(ngModel)]="mrole">
          <option value = "ALL">ALL</option>
          <option *ngIf="bsadmin" value = "SUPER ADMIN">SUPER ADMIN</option>
          <option *ngIf="bzadmin" value = "ZONE ADMIN">ZONE ADMIN</option>
          <option *ngIf="bsman"   value = "SALES EXECUTIVE">SALES EXECUIVE</option>          
          <option *ngIf="bvendor" value = "VENDOR">VENDOR</option>          
          <option *ngIf="brecce" value = "RECCE USER">RECCE USER</option>
        </select>
      </div>
      <div class="col">
        <button [disabled]="loading" (click)="List('NEW')" class="btn btn-primary btn-sm">Search</button>
      </div>
    </div>    
  </div>

  <div class="page-pager">
    <div *ngIf="page_count">
      <ul class="pagination pagination-sm">
        <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}} (Records-{{page_rowcount}})</a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a></li>
        <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
      </ul>
    </div>
  </div>

  <div class="page-body table-responsive">
    <table class="table  table-hover table-sm">
      <thead class="page-body-thead">
        <tr>
          <th>LOGIN ID</th>
          <th>NAME</th>
          <th>MANAGER</th>
          <th>EMAIL</th>
          <th>ROLE</th>
          <th>REGION</th>
          <th>VENDOR</th>
          <th>LOCKED</th>
        </tr>
      </thead>
      <tbody class="page-body-tbody" *ngFor="let rec of RecordList">
        <tr (click)="ActionHandler('EDIT',rec.user_pkid)">
          <td>{{rec.user_code}}</td>
          <td>{{rec.user_name}}</td>
          <td>{{rec.user_parent_name}}</td>
          <td>{{rec.user_email}}</td>
          <td>{{rec.user_role_name}}</td>
          <td>{{rec.user_region_name}}</td>
          <td>{{rec.user_vendor_name}}</td>
          <td>{{rec.user_islocked  | yesNo }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="page-pager">
    <div *ngIf="page_count">
      <ul class="pagination pagination-sm">
        <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}} (Records-{{page_rowcount}})</a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a></li>
        <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
      </ul>
    </div>
  </div>
  
</div>


<div *ngIf="currentTab=='DETAILS'" class="page-details">

  <div class="row border">
    <div class="col-sm-6">
      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">Login ID</label>
        <div class="col-10">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.user_code" required
            maxlength="15" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label  col-form-label-sm">Name</label>
        <div class="col-10">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.user_name" required
            maxlength="30" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label  col-form-label-sm">Password</label>
        <div class="col-10">
          <input type="password" class="form-control form-control-sm" [(ngModel)]="Record.user_password" required 
            maxlength="50" />
        </div>
      </div>


      <div class="form-group row py-1" >
        <label class="col-2 col-form-label  col-form-label-sm">Status</label>
        <div class="col-10">
          <input class ="mr-1" type="checkbox"  [(ngModel)]="Record.user_islocked" />
          <span>Locked</span>
        </div>
      </div>      


      <div class="form-group row" >
        <label class="col-2 col-form-label  col-form-label-sm">Manager</label>
        <div class="col-10">
          <app-autocomplete2 [controlname]="'user'" [tabletype]="'USER'" [subtype]="" [displaycolumn]="'NAME'"
            [id]="Record.user_parent_id" [displaydata]="Record.user_parent_name"
            [disabled]="role=='VENDOR'"
            (IdChanged)="Record.user_parent_id=$event" (NameChanged)="Record.user_parent_name=$event">
          </app-autocomplete2>
        </div>
      </div>


      <div class="form-group row" >
        <label class="col-2 col-form-label  col-form-label-sm">Role</label>
        <div class="col-10">
          <app-autocomplete2 [controlname]="'ROLE'" [tabletype]="'PARAM'" [subtype]="'ROLES'" [displaycolumn]="'NAME'"
            [id]="Record.user_role_id" [displaydata]="Record.user_role_name"
            [disabled]="role=='VENDOR'"
            [where]="role_where"
            (IdChanged)="Record.user_role_id=$event" (NameChanged)="Record.user_role_name=$event">
          </app-autocomplete2>
        </div>
      </div>

      <div class="form-group row" >
        <label class="col-2 col-form-label  col-form-label-sm">Region</label>
        <div class="col-10">
          <app-autocomplete2 [controlname]="'REGION'" [tabletype]="'PARAM'" [subtype]="'REGION'" [displaycolumn]="'NAME'"
            [id]="Record.user_region_id" [displaydata]="Record.user_region_name"
            [disabled]="role=='VENDOR'"
            [where]="region_where"
            (IdChanged)="Record.user_region_id=$event" (NameChanged)="Record.user_region_name=$event">
          </app-autocomplete2>
        </div>
      </div>





      <div class="form-group row">
        <label class="col-2 col-form-label  col-form-label-sm">Vendor</label>
        <div class="col-10">
          <app-autocomplete2 [controlname]="'VENDOR'" [tabletype]="'VENDOR'" [subtype]="" [displaycolumn]="'NAME'"
            [id]="Record.user_vendor_id" [displaydata]="Record.user_vendor_name"
            [disabled]="role=='VENDOR'"
            (IdChanged)="Record.user_vendor_id=$event" (NameChanged)="Record.user_vendor_name=$event">
          </app-autocomplete2>
        </div>
      </div>



      <div class="form-group row">
        <label class="col-2 col-form-label  col-form-label-sm">Email</label>
        <div class="col-10">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.user_email" required
            maxlength="100" />
        </div>
      </div>






    </div>

    <div class="col-sm-6" *ngIf="showBranches">
      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">Branches</label>
        <div class="col-10 table-responsive">
          <table class="table   table-hover table-sm table-bordered">
            <thead class="page-body-thead">
              <tr>
                <th>SELECTED</th>
                <th>DEFAULT</th>
                <th>BRANCH</th>
              </tr>
            </thead>
            <tbody class="page-body-tbody" *ngFor="let rec of RecordDet">
              <tr>
                <td><input type="checkbox" [(ngModel)]="rec.user_selected" /></td>
                <td><input type="checkbox" [(ngModel)]="rec.user_default_branch_id" /></td>
                <td>{{rec.user_branch_name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>



  <div class="row border">
    <div class="col-sm-6">
      <div class="form-group row">
        <div class="offset-2 col-10">
          <button [disabled]="loading" (click)="Save()" class="btn btn-primary btn-sm mr-1"
            *ngIf="canSave">Save</button>
          <button [disabled]="loading" (click)="ActionHandler('LIST','')" class="btn btn-primary btn-sm">Return</button>
          <i *ngIf="loading" class="fa fa-spinner"></i>
        </div>
      </div>
    </div>
  </div>


</div>


<div *ngIf="currentTab=='DETAILS' && mode == 'EDIT'" class="page-details">
  
  
      <app-userstore [pkid]="pkid" ></app-userstore>
  
  
</div>




<br />
<div *ngIf="ErrorMessage" class="alert alert-info">
  {{ErrorMessage}}
</div>